*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #f0f2f5;
}


/* ------------------------------------------------------- */
/* Header Section */
.header {
    padding: 8px 10px 8px 0;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 100;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

/* Header Left */
.header-left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-left img {
    height: 50px;
    cursor: pointer;
}

.header-left .header-input{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px 15px;
    border-radius: 999px;
    width: 230px;   
}

.header-input .material-icons{
    font-size: 20px;
}

.header-input input{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    margin-left: 5px;
}




/* Header Middle */
.header-middle{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}


.header-icons{
    display: flex;
    align-items: center;
    font-size: xx-large;
    padding: 0 30px;
    cursor: pointer;
}

.header-icons .material-icons{
    font-size: xx-large;
    color: #65676B;
}

.header-icons:hover .material-icons{
    color: #2e81f4;
}

.header-icons.active {
    color: #2e81f4;
}

.header-icons.active{
    border-bottom: 4px solid #2e81f4;
}

.header-icons:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
    height: 50px;
}




/* Header Right */
.header-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-right .header-right-info{
    display: flex;
    align-items: center;
}

.header-right-info h4{
    margin: 0 12px 0 5px
}

.header-right .material-icons{
    color: black;
    margin: 0 5px;
    cursor: pointer;
    font-size: 25px;
    background-color: #eff2f5;
    padding: 10px;
    border-radius: 50%;
}

.header-right img{
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.header-right h4{
    font-weight: 500;
}

/* End Header Section */
/* ------------------------------------------------------- */



/* ------------------------------------------------------- */
/* Main Content */
.main-content{
    display: flex;
}



/* Sidebar */

.sidebar{
    padding: 25px 10px;
    flex: 0.33%;
}

.sidebar-row{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.sidebar-row img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.sidebar-row:hover{
    background-color: lightgray;
    border-radius: 10px;
}

.sidebar-row .material-icons{
    font-size: xx-large;
    color: #2e81f4;
}

.sidebar-row h4{
    margin-left: 20px;
    font-weight: 600;
}

/* End Sidebar */







/* Middle Content */
.middle-content{
    display: flex;
    flex: 1;
    padding: 30px 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Story Box */

.story{
    display: flex;
    padding: 10px 0;
}

.story-box {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 200px;
    box-shadow: 0px 5px 17px -7px rgba(0,0,0,0.75);
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 100ms ease-in;
}

.story-box:hover{
    transform: scale(1.07);
}

.story-box img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 5px;
}

.story-box h4{
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: white;
    font-size: 15px;
}
/* End Story Box */

/* Message Box */

.message-box{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
}

.message-box-toprow{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
}

.message-box-toprow form{
    display: flex;
    flex: 1;
}

.message-box-toprow form input{
    flex: 1;
    outline-width: 0;
    border: none;
    padding: 15px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}

.message-box-toprow img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.message-box-bottomrow{
    display: flex;
    justify-content: space-evenly;
}

.message-box-bottomrow .icons{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    margin: 5px;
    width: 170px;
}

.message-box-bottomrow .icons h4{
    font-size: medium;
    margin-left: 10px;
}

.message-box-bottomrow .icons:hover{
    cursor: pointer;
    background-color: #eff2f5;
    border-radius: 10px;
}

/* End Message Box */

/* Room */
.room{
    display: flex;
    margin-top: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
}

.room-icon {
    margin: 12px;
    border: 1px solid #2e81f4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
}

.room-icon:hover{
    background-color: #eff2f5;
    cursor: pointer;
}

.room-icon span{
    padding: 0 0 0 20px;
    color: #2e81f4;
}

.room-icon h4{
    margin-left: 10px;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #2e81f4;
}

.room-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.room-img img{
    padding: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.room-img img:hover{
    cursor: pointer;
}

/* End Room */

/* Post */
.post{
    margin-top: 20px;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.post .post-top{
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-top img{
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post-top #more_horiz{
    margin-left: auto;
    padding: 15px;
    font-size: 15px;
}

.post-top #more_horiz:hover{
    background-color: #eff2f5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.user-details .user-info h4{
    padding: 0 0 0 10px;
}

.user-details .time{
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.user-details .time h5:hover{
    border-bottom: 1px solid black;
}

.user-details .time span{
    font-size: 15px;
}

.post-content .heading p{
    margin: 5px 20px;
    align-content: justify;
}

.post-content .img img{

    width: 100%;
    height: 100%;
}

.post-bottom{
    margin: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 0 10px 10px 10px;
}

.post-bottom .like{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.post-bottom .like h4:hover{
    border-bottom: 1px solid black;
}

.post-bottom .comments{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-bottom .comments .comments{
    margin-right: 5px;
}

.post-bottom .comments .comments:hover{
    border-bottom: 1px solid black;
    cursor: pointer;
}

.post-bottom .comments .shares:hover{
    border-bottom: 1px solid black;
    cursor: pointer;
}

.post-bottom-icons{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.post-bottom-icons .icons{
    display: flex;
    align-items: center;
}

.post-bottom-icons .icons img{
    height: 30px;
    width: 30px;
}
/* End Post */

/* End Middle Content */





/* Right Sidebar */
.right-sidebar{
    display: flex;
    flex: 1;
    padding: 30px 50px 0 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.birthday-box{
    padding: 10px;
    width: 100%;
    height: 100%;
}



/* End Right Sidebar */
/* End Main Content */
/* ------------------------------------------------------- */