*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ------------------------------------------------------- */
/* Header Section */
.header {
    padding: 8px 10px 8px 0;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 100;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

/* Header Left */
.header-left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-left img {
    height: 50px;
    cursor: pointer;
}

.header-left .header-input{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px 15px;
    border-radius: 999px;
    width: 230px;   
}

.header-input .material-icons{
    font-size: 20px;
}

.header-input input{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    margin-left: 5px;
}




/* Header Middle */
.header-middle{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}


.header-icons{
    display: flex;
    align-items: center;
    font-size: xx-large;
    padding: 0 30px;
    cursor: pointer;
}

.header-icons .material-icons{
    font-size: xx-large;
}

.header-icons:hover .material-icons{
    color: #2e81f4;
}

.header-icons.active {
    color: #2e81f4;
}

.header-icons.active{
    border-bottom: 4px solid #2e81f4;
}

.header-icons:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
    height: 50px;
}




/* Header Right */
.header-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-right .header-right-info{
    display: flex;
    align-items: center;
}

.header-right-info h4{
    margin: 0 12px 0 5px
}

.header-right .material-icons{
    color: black;
    margin: 0 5px;
    cursor: pointer;
    font-size: 25px;
    background-color: #eff2f5;
    padding: 10px;
    border-radius: 50%;
}

.header-right img{
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.header-right h4{
    font-weight: 500;
}

/* End Header Section */
/* ------------------------------------------------------- */



/* ------------------------------------------------------- */
/* Main Content */


/* Sidebar */
.sidebar-row{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.sidebar-row img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.sidebar-row:hover{
    background-color: lightgray;
}

.sidebar-row .material-icons{
    font-size: xx-large;
    color: #2e81f4;
}

.sidebar-row h4{
    margin-left: 20px;
    font-weight: 600;
}

/* End Sidebar */







/* Middle Content */

.story-box img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
/* End Middle Content */











/* Right Sidebar */

/* End Right Sidebar */
/* End Main Content */
/* ------------------------------------------------------- */